@media only screen and (min-width:600px) {  

.educationName {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 45px;
  background-image: linear-gradient(to top, #553c9a, #b393d3);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
  border: 2px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  margin-bottom: 1px;

}

.northumbria_logo {
  width: 40%;
  padding: 20px;
}

.churchill_logo {
  width: 25%;
  margin-top: 10%;
  margin-bottom: 10%;

}

.university_text {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 15px;
  text-align: left;
  list-style-type: none;
  margin-left: 5%;
  margin-bottom: 1%;
  padding-right:50px;
}

h1 {
  text-align: left;
  font-size: 50px;
  font-weight: 600;
  background-image: linear-gradient(to left, #553c9a, #b393d3);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: white;
  margin-left: 5%;
  font-size: 3vw;
}

.finished_date {

  font-family: Arial, Helvetica, sans-serif;
  margin-top: 5px;
  font-weight: bold;
}

.grid-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding: 10px;
  width: 90%;
  margin-left: 5%;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.85);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 25px;
  text-align: center;
}

.education {
  padding-bottom: 5%;
  padding-top:1%;
}

.educationTitle {

  margin-left:32%;
}
}

/* --------------------------------------------------------------------------------------------------------------------------------------- */
/* The CSS Below is for mobile and smaller screen sizes */
@media only screen and (max-width:600px) { 
  .educationName {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    background-image: linear-gradient(to top, #553c9a, #b393d3);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    border: 2px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    margin-bottom: 1px;
  
  }
  
  .northumbria_logo {
    width: 40%;
    padding: 20px;
  }
  
  .churchill_logo {
    width: 25%;
    margin-top: 10%;
    margin-bottom: 10%;
  
  }
  
  .university_text {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
    text-align: left;
    list-style-type: none;
    margin-left: 5%;
    margin-bottom: 1%;
    padding-right:50px;
    
  }
  
  h1 {
    text-align: left;
    font-size: 50px;
    font-weight: 600;
    background-image: linear-gradient(to left, #553c9a, #b393d3);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: white;
    margin-left: 5%;
    font-size: 3vw;
  }
  
  .finished_date {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
    font-weight: bold;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
    width: 90%;
    margin-left: 2.5%;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
  
  .grid-item {
    background-color: rgba(255, 255, 255, 0.85);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 25px;
    text-align: center;
  }
  
  .education {
    padding-bottom: 5%;
    padding-top:1%;
    
  }
  
  .educationTitle {
    text-align:center;
    font-size:10vw;
  }




 }