@media only screen and (min-width:600px) {
  .occupation_text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    padding: 10px;
    margin-bottom: 1px;
    color: rgb(0, 0, 0);
    filter: drop-shadow(0px 0px 5px #bbbbbb);
  }

  .occupation_details {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
    text-align: left;
    list-style-type: none;
    margin-left: 5%;
    margin-bottom: 1%;
  }

  .occupation_date {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
    font-weight: bold;
  }



  .fdm_logo {
    width: 30%;
    margin-left: 30%;
    border-radius: 20px;
    border: 5px solid rgba(193, 193, 193, 0.8);
    filter: drop-shadow(0px 0px 1px #595959);
    padding-left:20px;
    padding-right:20px;
    padding-bottom:10px;
    margin-bottom:1vw;

  }

  .one_stop_logo {
    width: 30%;
    margin-left: 30%;
    border-radius: 20px;
    border: 5px solid rgba(193, 193, 193, 0.8);
    filter: drop-shadow(0px 0px 1px #595959);
    padding:20px;
    margin-bottom:1vw;

  }

  .hm_logo {
    width: 30%;
    margin-left: 30%;
    border-radius: 20px;
    border: 5px solid rgba(193, 193, 193, 0.8);
    filter: drop-shadow(0px 0px 1px #595959);
    padding:20px;
    margin-bottom:1vw;

  }

  .experience_grid {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    width: 90%;
    margin-left: 5%;
    grid-column-gap: 20px;
    
  }

  .miniGrid {
    display: grid;
    padding: 20px;
    

  }

  .experience_grid_item {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 10px;
    font-size: 25px;
    text-align: center;
    border-radius: 20px;
  }

  .experiences {
    padding-bottom: 25%;
    padding-top: 1%;
  }

  .experiencesTitle {
    font-size: 3vw;
    color: white;
    filter: drop-shadow(10px 5px 4px #595959);
  }
}

/* --------------------------------------------------------------------------------------------------------------------------------------- */
/* The CSS Below is for mobile and smaller screen sizes */
@media only screen and (max-width:600px) {

  .occupation_text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8vw;
    padding: 10px;
    margin-bottom: 1px;
    color: white;
    filter: drop-shadow(0px 0px 5px #595959);
  }

  .occupation_details {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
    text-align: left;

    list-style-type: none;
    margin-left: 5%;
    margin-bottom: 1%;
  }

  .occupation_date {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
    font-weight: bold;
  }


  .fdm_logo {
    width: 30%;
  }

  .one_stop_logo {
    width: 30%;
  }

  .hm_logo {
    width: 30%;
  }

  .experience_grid {
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
    width: 90%;
    margin-left: 2.5%;
    grid-row-gap: 20px;
  }

  .experience_grid_item {
    background-color: rgba(255, 255, 255, 0.85);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 25px;
    text-align: center;
  }

  .experiences {
    padding-bottom: 25%;
    padding-top: 1%;
  }

  .experiencesTitle {
    font-size: 10vw;
    color: white;
    filter: drop-shadow(10px 5px 4px #595959);
  }





}