.footer{
    background-color:rgb(80, 80, 80);
    color:white;
    font-size: 20px;
    text-align: center;
    width:100%;
    position:fixed;
    bottom:0;
    overflow:hidden;
    display:block;
    
    
}

.linkedin_logo {
    width:5%;
    margin-left:1%;
}