@media only screen and (min-width:600px) {

    .footer {
        background-color: rgb(80, 80, 80);
        color: white;
        font-size: 20px;
        width: 100%;
        position: fixed;
        bottom: 0;
        overflow: hidden;
        transition: transform 0.8s ease; /* Apply transition only to the transform property */
        transform: translateX(-110%);
        z-index:1000;
    }

    .footer-expanded {
        background-color: rgb(80, 80, 80);
        color: white;
        font-size: 20px;
        width: 100%;
        position: fixed;
        bottom: 0;
        overflow: hidden;
        transition: transform 0.8s ease; /* Apply transition only to the transform property */
        
    }

    .linkedin_logo {
        width: 5%;
    }

    .github_logo {
        width: 7%;
        margin-left: 2%;
        
    }

}

/* --------------------------------------------------------------------------------------------------------------------------------------- */
/* The CSS Below is for mobile and smaller screen sizes */
@media only screen and (max-width:600px) {

    .footer {
        background-color: rgb(80, 80, 80);
        color: white;
        font-size: 20px;
        text-align: center;
        width: 100%;
        position: fixed;
        bottom: 0;
        overflow: hidden;
        display: block;
        transition: transform 0.8s ease; /* Apply transition only to the transform property */
        transform: translateX(-110%);
    }

    .footer-expanded {
        background-color: rgb(80, 80, 80);
        color: white;
        font-size: 20px;
        text-align: center;
        width: 100%;
        position: fixed;
        bottom: 0;
        overflow: hidden;
        display: block;
        transition: transform 0.8s ease; /* Apply transition only to the transform property */
        
    }

    .linkedin_logo {
        width: 20%;
    }

    .github_logo {
        width: 25%;
        margin-left: 2%;
        
    }


}