@media only screen and (min-width:600px) {

    .personal_profile {
        padding-bottom: 25%;
        padding-top: 1%;
    }

    .profile_title {
        font-size: 3vw;
        color: white;
        filter: drop-shadow(10px 5px 4px #595959);
    }

    .personal_profile_grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 20px;
        padding: 10px;
        width: 90%;
        margin-left: 5%;
    }

    .proText {
        color: rgb(0, 0, 0);
        font-family: Verdana, sans-serif;
        padding: 1%;
        font-size: 1.1vw;
    }

    .about_me_text {
        color: rgb(255, 255, 255);
        font-family: Verdana, sans-serif;
        padding: 1%;
        font-size: 1vw;
    }


    .personal_profile_grid_item {}

    .personal_profile_grid_item2 {}

    .about_me_container {
        margin-top: 1%;
        padding: 20px;
        font-size: 25px;
        background-color: rgba(71, 71, 71, 0.9);
        border: 2px solid rgba(193, 193, 193, 0.8);
        border-radius: 20px;
        text-align: left;
    }

    .socialImage {
        width: 40px;
        margin-left: 2%;
        margin-right: 2%;
    }

    .socials_container {

        background-color: rgba(255, 255, 255, 1);
        border: 2px solid rgba(137, 137, 137, 0.8);
        border-radius: 20px;
    }

    .personal_profile_bio {
        padding-left: 1vw;
        padding-right: 1vw;
        font-size: 1.5vw;
        background-color: rgba(255, 255, 255, 1);
        border: 2px solid rgba(137, 137, 137, 0.8);
        border-radius: 20px;
        text-align: left;
        margin-top: 1%;
    }

    .tooltip {
        padding: 2%;
        position: relative;
        display: inline-block;
    }

    .tooltip .tooltiptext {
        visibility: hidden;
        position: absolute;
        text-align: center;
        background-color: rgba(71, 71, 71, 1);
        border: 1px solid rgba(193, 193, 193, 1);
        color: white;
        border-radius: 10px;
        padding: 20%;

    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
    }

    .bioPhoto {
        width: 25%;
        border: 2px solid rgba(137, 137, 137, 0.8);
        border-radius: 10px;
        margin-left: 1%;
        margin-right: 1%;
    }


    .contactButton {
        padding: 2%;
        font-size: 1.5vw;
        margin: 1%;
        border: none;
        background: none;
    }

    .contactButton:hover {
        cursor: pointer;
    }



    .popup_content {
        position: absolute;
        text-align: center;
        background-color: rgb(255, 255, 255);
        border: 1px solid rgba(193, 193, 193, 1);
        color: rgb(0, 0, 0);
        border-radius: 10px;
        top: 8%;
        right: 4.5%;
        width: 20%;
        height: 8%;
        padding: 1%;
        transition: transform 0.8s ease;
        /* Apply transition only to the transform property */
        transform: translateY(-200%);

        overflow: hidden;

    }

    .popup_content_expanded {
        position: absolute;
        text-align: center;
        background-color: rgb(255, 255, 255);
        border: 1px solid rgba(193, 193, 193, 1);
        color: rgb(0, 0, 0);
        border-radius: 10px;
        top: 8%;
        right: 4.5%;
        width: 20%;
        height: 8%;
        padding: 1%;
        transform: translateX(1%);
        transition: transform 0.8s ease;
    }

    .selected-popup-content {
        font-size: 1.2vw;
        padding-left: 2%;
        padding-right: 2%;
        margin-top: 1%;

    }

    .about_me_header {
        color: rgb(255, 255, 255);
        font-size: 1.5vw;
    }
}

/* --------------------------------------------------------------------------------------------------------------------------------------- */
/* The CSS Below is for mobile and smaller screen sizes */
@media only screen and (max-width:600px) {

    .personal_profile {
        padding-bottom: 25%;
        padding-top: 1%;
    }

    .profile_title {
        font-size: 10vw;
        color: white;
        filter: drop-shadow(10px 5px 4px #595959);
    }

    .personal_profile_grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 20px;
        padding: 10px;
        width: 90%;
        margin-left: 5%;

    }

    .proText {
        color: rgb(0, 0, 0);
        font-family: Verdana, sans-serif;
        padding: 1%;
        font-size: 3.5vw;

    }

    .about_me_text {
        color: rgb(255, 255, 255);
        font-family: Verdana, sans-serif;
        padding: 1%;
        font-size: 3.5vw;
    }


    .personal_profile_grid_item {
        
    }

    .personal_profile_grid_item2 {
      
    }

    .about_me_container {
        margin-top: 1%;
        padding: 20px;
        font-size: 5vw;
        background-color: rgba(71, 71, 71, 0.9);
        border: 2px solid rgba(193, 193, 193, 0.8);
        border-radius: 20px;
        text-align: left;
    }

    .socialImage {
        width: 50%;
        margin-left: 2%;
        margin-right: 2%;
    }

    .socials_container {
        background-color: rgba(255, 255, 255, 1);
        border: 2px solid rgba(137, 137, 137, 0.8);
        border-radius: 20px;
        display: flex;
    }

    .personal_profile_bio {
        padding-left: 1vw;
        padding-right: 1vw;
        font-size: 5vw;
        background-color: rgba(255, 255, 255, 1);
        border: 2px solid rgba(137, 137, 137, 0.8);
        border-radius: 20px;
        text-align: left;
        margin-top: 1%;
    }

    .tooltip {
        padding: 2%;
        position: relative;
        display: inline-block;
    }

    .tooltip .tooltiptext {
        visibility: hidden;
        position: absolute;
        text-align: center;
        background-color: rgba(71, 71, 71, 1);
        border: 1px solid rgba(193, 193, 193, 1);
        color: white;
        border-radius: 10px;
        padding: 20%;

    }

   

    .bioPhoto {
        width: 25%;
        border: 2px solid rgba(137, 137, 137, 0.8);
        border-radius: 10px;
        margin-left: 1%;
        margin-right: 1%;
    }


    .contactButton {
        padding: 2%;
        font-size: 1.5vw;
        margin: 1%;
        border: none;
        background: none;
    }

    .contactButton:hover {
        cursor: pointer;
    }

    .popup_content {
        position: absolute;
        text-align: center;
        background-color: rgb(255, 255, 255);
        border: 1px solid rgba(193, 193, 193, 1);
        color: rgb(0, 0, 0);
        border-radius: 10px;
        top: 8%;
        right: 4.5%;
        width: 20%;
        height: 8%;
        padding: 1%;
        transition: transform 0.8s ease;
        /* Apply transition only to the transform property */
        transform: translateY(-200%);

        overflow: hidden;

    }

    .popup_content_expanded {
        position: absolute;
        text-align: center;
        background-color: rgb(255, 255, 255);
        border: 1px solid rgba(193, 193, 193, 1);
        color: rgb(0, 0, 0);
        border-radius: 10px;
        top: 8%;
        right: 4.5%;
        width: 20%;
        height: 8%;
        padding: 1%;
        transform: translateX(1%);
        transition: transform 0.8s ease;
    }

    .selected-popup-content {
        font-size: 1.2vw;
        padding-left: 2%;
        padding-right: 2%;
        margin-top: 1%;

    }

    .about_me_header {
        color: rgb(255, 255, 255);
        font-size: 4vw;
    }


}