.personal_profile {
    padding-bottom: 25%;
    padding-top:1%;
}

.h1 {
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    background-image: linear-gradient(to top, #000000, #dc12ee);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: white;

}

.profile_title {
    font-size: 3vw;
    padding-left: 34%;
}

.bioPhoto {
    width: 25%;
    border: 5px solid rgba(137, 137, 137, 0.8);
    border-radius: 100px;
    display: block;
    margin-left: 40%;
}

.personal_profile_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    padding: 10px;
    width: 90%;
    margin-left: 5%;
}

.personal_profile_grid_item {
    padding: 20px;
    font-size: 25px;

}

.personal_profile_grid_item2 {
    padding: 20px;
    font-size: 1.5vw;
    background-color: rgba(255, 255, 255, 0.9);
    border: 5px solid rgba(137, 137, 137, 0.8);
    border-radius: 20px;
}

.bioText {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    text-justify: inter-word;
    margin-left:5%;
    font-size: 1.2vw;
}


.bioTextName {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.proText {
    color: white;
    text-align: justify;
    text-justify: inter-word;
    margin-right:10%;
    font-size: 1.2vw;
}