@media only screen and (min-width:600px) {

    .personal_profile {
        padding-bottom: 25%;
        padding-top: 1%;
    }

    .profile_title {
        font-size: 3vw;
        color: white;
        filter: drop-shadow(10px 5px 4px #595959);
    }

    .personal_profile_grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 20px;
        padding: 10px;
        width: 90%;
        margin-left: 5%;
    }

    .proText {
        color: white;
        text-align: justify;
        text-justify: inter-word;
        margin-right: 10%;
        font-size: 1.2vw;
    }


    .personal_profile_grid_item {
        padding: 20px;
        font-size: 25px;
        padding-left: 10%;
        background-color: rgba(31, 31, 31, 0.9);
        border: 5px solid rgba(193, 193, 193, 0.8);
        border-radius: 20px;
    }

    .personal_profile_grid_item2 {
        padding: 20px;
        font-size: 1.5vw;
        background-color: rgba(255, 255, 255, 0.9);
        border: 5px solid rgba(137, 137, 137, 0.8);
        border-radius: 20px;
    }

    .bioPhoto {
        width: 25%;
        border: 5px solid rgba(137, 137, 137, 0.8);
        border-radius: 100px;
        display: block;
        margin-left: 40%;
    }

    .bioText {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        text-justify: inter-word;
        font-size: 1.2vw;
    }

    .phoneImage {
        width: 1vw;
        margin-right: 28px;
        margin-left:2px;
    
    }

    .emailImage {
        margin-right: 20px;
        width: 1.5vw;
    }

    .linkedin_logo_profile {
        width: 5vw;
    }

    .contactButton {
        padding: 2%;
        font-size: 1.5vw;
        color: white;
        background-color: rgb(80, 80, 80);
        border: 1px solid rgba(137, 137, 137, 0.8);
        border-radius: 100px;
        margin:1%;
        
    }
    .contactMeImage {
        width: 0.9vw;
    }
    .downloadImage {

        width:1.2vw;
    }

    .contactButton:hover {
        background-color: #383838;
        cursor: pointer;
    }


    .bioTextName {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }

    .popup-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        /* Adjust the opacity as desired */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .popup-content {
        background-color: #fff;
    
        padding: 50px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    .selected-popup-content {
        text-align: left;
    }
}

/* --------------------------------------------------------------------------------------------------------------------------------------- */
/* The CSS Below is for mobile and smaller screen sizes */
@media only screen and (max-width:600px) {

    .personal_profile {
        padding-bottom: 25%;
        padding-top: 1%;
    }

    .profile_title {
        font-size: 10vw;
        color: white;
        filter: drop-shadow(10px 5px 4px #595959);
    }

    .bioPhoto {
        width: 25%;
        border: 5px solid rgba(137, 137, 137, 0.8);
        border-radius: 100px;
        display: block;
        margin-left: 40%;
    }

    .personal_profile_grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-row-gap: 10px;
        padding: 10px;
        width: 90%;
        margin-left: 2.5%;
    }

    .personal_profile_grid_item {
        padding: 20px;
        font-size: 25px;
        grid-row: 2;
        padding: 20px;
        font-size: 25px;
        padding-left: 10%;
        background-color: rgba(31, 31, 31, 0.9);
        border: 5px solid rgba(193, 193, 193, 0.8);
        border-radius: 20px;

    }

    .personal_profile_grid_item2 {
        padding: 20px;
        font-size: 8vw;
        background-color: rgba(255, 255, 255, 0.9);
        border: 5px solid rgba(137, 137, 137, 0.8);
        border-radius: 20px;
        grid-row: 1;
    }

    .bioText {
        font-family: Arial, Helvetica, sans-serif;
        text-align: justify;
        text-justify: inter-word;
        text-align: center;
        font-size: 5vw;
    }


    .bioTextName {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }

    .proText {
        color: white;
        text-align: justify;
        text-justify: inter-word;
        font-size: 4vw;
    }

    .phoneImage {
        width: 6vw;
        margin-right: 200px;
        margin-left:2px;
    
    }

    .emailImage {
        margin-right: 20px;
        width: 10vw;
    }

    .linkedin_logo_profile {
        width: 25vw;
    }

    .contactButton {
        padding: 2%;
        font-size: 5vw;
        color: white;
        background-color: rgb(80, 80, 80);
        border: 1px solid rgba(137, 137, 137, 0.8);
        border-radius: 100px;
        text-align: center;

    }
    .contactMeImage {
        width: 4vw;
    }
    .downloadImage {

        width:5.5vw;
    }

    .contactButton:hover {
        background-color: #383838;
        cursor: pointer;
    }


    .popup-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        /* Adjust the opacity as desired */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .popup-content {
        background-color: #fff;
    
        padding: 50px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    .selected-popup-content {
        text-align: left;
    }






}