@media only screen and (min-width:600px) {


  .portfolioPageTitle {

    font-size: 3vw;
    color: white;
    filter: drop-shadow(10px 5px 4px #595959);
  }

  .portfolioPage {
    padding-bottom: 20%;
    padding-top: 1%;
    overflow: hidden;
  }

  .portfolio_card {
    background-color: rgba(255, 255, 255, 0.85);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 25px;


  }

  .portfolio_grid {
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
    width: 50%;
    margin: auto;
    grid-column-gap: 20px;
    grid-row-gap: 30px;

  }

  .portfolio_image_diss {
    width: 50vw;
    margin-top: 1%;
    border: 5px solid rgba(137, 137, 137, 0.8);
    transition: all 1s ease;
  }

  .portfolio_title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }

  a {

    text-decoration: none;
  }

  a .links {
    background-color: rgb(113, 172, 208, 0.5);
    color: black;
    width: 70%;
    text-decoration: none;
    margin-left: 15%;
    border-radius: 10px;

  }

  a .links:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }

  .portfolio_description {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1%;
    text-align: justify;
    text-justify: inter-word;

  }

}

/* --------------------------------------------------------------------------------------------------------------------------------------- */
/* The CSS Below is for mobile and smaller screen sizes */
@media only screen and (max-width:600px) {


  .portfolioPageTitle {

    color: white;
    filter: drop-shadow(10px 5px 4px #595959);
    font-size: 10vw;
  }

  .portfolioPage {
    padding-bottom: 20%;
    padding-top: 1%;
    overflow: hidden;
  }

  .portfolio_card {
    background-color: rgba(255, 255, 255, 0.85);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 25px;
  }

  .portfolio_grid {
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
    width: 95%;
    grid-column-gap: 20px;
    grid-row-gap: 30px;

  }

  .portfolio_image_diss {
    width: 85vw;
    margin-top: 1%;
    border: 5px solid rgba(137, 137, 137, 0.8);
  }

  .portfolio_title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }

  a {

    text-decoration: none;
  }

  a .links {
    background-color: rgb(113, 172, 208, 0.5);
    color: black;
    width: 90%;
    text-decoration: none;
    margin-left: 5%;
    border-radius: 10px;

  }

  a .links:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }

  .portfolio_description {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1%;
    text-align: justify;
    text-justify: inter-word;

  }

}