@media only screen and (min-width:600px) { 

.h1 {
  text-decoration: underline;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  background-image: linear-gradient(to top, #000000, #dc12ee);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;

}

.skillsTitle {
  font-size: 3vw;
  padding-left: 42%;
  
}

.skills {
  padding-bottom: 10%;
  padding-top:1%;
}



.skills_text {
  font-size: 1vw;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 15px;
  text-align: justify;
  text-justify: inter-word;
  list-style-type: none;
  margin-left:2%;
  margin-right:2%;
  margin-bottom: 2%;
}

.skills_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  width: 90%;
  margin-left: 5%;
  grid-column-gap: 20px;
  overflow:hidden;
}

.skills_grid_item {
  background-color: rgba(255, 255, 255, 0.85);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 25px;
}

.skills_grid_item2 {
  background-color: rgba(255, 255, 255, 0.85);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 25px;
}

.slidecontainer {
  width: 90%;
  margin-left: 5%;
  margin-bottom: 1%;
}

.slider {
  appearance: none;
  width: 100%;
  height: 25px;
  background: #b8b8b8;
  outline: none;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 25px;
  height: 25px;
  background: #9d0a9f;
  cursor: pointer;
}

.languageNameJava {
  font-size: 1vw;
  text-align: left;
  margin-right: 56%;
  margin-left: 5%;
}

.languagePercentJava {
  font-size: 1vw;
  margin-right: 90%;
}



.languageNameHTML {
  font-size: 1vw;
  text-align: left;
  margin-right: 58.5%;
  margin-left: 5%;
}

.languagePercentHTML {
  font-size: 1vw;
  margin-right: 90%;
}

.languageNameReact {
  font-size: 1vw;
  text-align: left;
  margin-right: 55%;
  margin-left: 5%;
}

.languagePercentReact {
  font-size: 1vw;
  margin-right: 90%;
}

.languageNameSQL {
  font-size: 1vw;
  text-align: left;
  margin-right: 65%;
  margin-left: 5%;
}

.languagePercentSQL {
  font-size: 1vw;
  margin-right: 90%;
}

.languageNameJS {
  font-size: 1vw;
  text-align: left;
  margin-right: 41.5%;
  margin-left: 5%;
}

.languagePercentJS {
  font-size: 1vw;
  margin-right: 90%;
}

.languageNameUnreal {
  font-size: 1vw;
  text-align: left;
  margin-right: 34.8%;
  margin-left: 5%;
}

.languagePercentUnreal {
  font-size: 1vw;
  margin-right: 39.5%;
}

.languageNamePython {
  font-size: 1vw;
  text-align: left;
  margin-right: 45%;
  margin-left: 5%;
}

.languagePercentPython {
  font-size: 1vw;
  margin-right: 42%;
}

}

/* --------------------------------------------------------------------------------------------------------------------------------------- */
/* The CSS Below is for mobile and smaller screen sizes */
@media only screen and (max-width:600px) { 


  .h1 {
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    background-image: linear-gradient(to top, #000000, #dc12ee);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  
  }
  
  .skillsTitle {
    font-size: 10vw;
    text-align:center;
    
  }
  
  .skills {
    padding-bottom: 10%;
    padding-top:1%;
  }
  
  
  
  .skills_text {
    font-size: 5vw;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
    text-align: justify;
    text-justify: inter-word;
    list-style-type: none;
    margin-left:2%;
    margin-right:2%;
    margin-bottom: 2%;
  }
  
  .skills_grid {
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
    width: 90%;
    margin-left: 2.5%;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    overflow:hidden;
  }
  
  .skills_grid_item {
    background-color: rgba(255, 255, 255, 0.85);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 25px;
    grid-row:2;
  }

  .skills_grid_item2 {
    background-color: rgba(255, 255, 255, 0.85);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 25px;
    grid-row:1;
  }
  
  .slidecontainer {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 1%;
    
  }
  
  .slider {
    appearance: none;
    width: 100%;
    height: 25px;
    background: #b8b8b8;
    outline: none;
  }
  
  .slider::-webkit-slider-thumb {
    appearance: none;
    width: 25px;
    height: 25px;
    background: #9d0a9f;
    cursor: pointer;
  }
  
  .languageNameJava {
    font-size:4vw;
    text-align: left;
    margin-right: 48%;
    margin-left: 5%;
  }
  
  .languagePercentJava {
    font-size: 4vw;
    margin-right: 90%;
  }
  
  
  
  .languageNameHTML {
    font-size: 4vw;
    text-align: left;
    margin-right: 44.5%;
    margin-left: 5%;
  }
  
  .languagePercentHTML {
    font-size: 4vw;
    margin-right: 90%;
  }
  
  .languageNameReact {
    font-size: 4vw;
    text-align: left;
    margin-right: 46%;
    margin-left: 5%;
  }
  
  .languagePercentReact {
    font-size: 4vw;
    margin-right: 90%;
  }
  
  .languageNameSQL {
    font-size: 4vw;
    text-align: left;
    margin-right: 58%;
    margin-left: 5%;
  }
  
  .languagePercentSQL {
    font-size: 4vw;
    margin-right: 90%;
  }
  
  .languageNameJS {
    font-size: 4vw;
    text-align: left;
    margin-right: 29%;
    margin-left: 5%;
  }
  
  .languagePercentJS {
    font-size: 4vw;
    margin-right: 90%;
  }
  
  .languageNameUnreal {
    font-size: 4vw;
    text-align: left;
    margin-right: 13%;
    margin-left: 5%;
  }
  
  .languagePercentUnreal {
    font-size: 4vw;
    margin-right: 40%;
  }
  
  .languageNamePython {
    font-size: 4vw;
    text-align: left;
    margin-right: 35%;
    margin-left: 5%;
  }
  
  .languagePercentPython {
    font-size: 4vw;
    margin-right: 42%;
  }
}

